{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% if data.user %}
    {% set serviceUrl = '/applications' %}
{% else %}
    {% set serviceUrl = '/account/sign-in' %}
{% endif %}




{{ govukHeader({
  productName: serviceName,
  serviceUrl: "/",
  containerClasses: "govuk-width-container"
}) }}

{{ govukServiceNavigation({
  serviceName: serviceName,
  serviceUrl: serviceUrl,
  navigation: [{
    href: '/account/sign-out',
    text: 'Sign out'
  }] if data.user
}) }}
